In [6]:
a

10

# Shortcuts for jupyter notebook
    - esc + m => coding format => markdown
    - esc + y => Mardown => Coding
    - alt + enter => preset cell execution and creates new cell 
    - cntrl+ enter => present cell execution
    - shift + enter => present cell execution and shifts to below cell
    - cntrl + ? => comment / uncomment
    - esc + d d => present cell will be delete
    - esc + a => insert cell above
    - esc + b => insert cell below

# Variables
    - To store a value 
    - To change a value

In [5]:
a = 10
a

10

In [2]:
a = 200

In [3]:
a

200

In [8]:
b

500

In [7]:
b = 500

In [10]:
b
a

10

In [11]:
a,b

(10, 500)

In [15]:
m,n,p,t,y = 12,6,78.00,78

ValueError: not enough values to unpack (expected 5, got 4)

In [16]:
r,t = 34,90
(r,t)

(34, 90)

In [17]:
f = g = 90
f,g

(90, 90)

In [19]:
v,k = 34,'67.00'
print(v,k)
v,k

34 67.00

(34, '67.00')

# Data Types:
    - int => only integer values
    - float => it stores decimal values
    - str => enclosed with ' or "
    - boolean => True or False
    - All Data Structures [list,tuple,set and dictionary,string]

## Typecasting:
    - To change one data type to another data type
    - int()
    - float()
    - str()
    - All Data structures [list(),tuple(),set() and dict()]

# input():
    - By default it stores string data type values
    - It will displays an info to an user
    Syntax:
        variable_name = input("info")

In [ ]:
5 * 4 * 3 * 2 * 1
5 * 4 * 3 * 2
5 * 4 * 6
5 * 24
120

5 * 4 * 3 * 2 * 1
20 * 3 * 2 * 1
60 * 2 * 1
120 * 1
120

In [5]:
d = input("enter a value: ")
print(d)

enter a value: 34
34

In [3]:
h = 34
h

34

In [4]:
h

34

In [6]:
r = input("Enter a value: ")
b = input("Enter b value: ")
print(r,b)

Enter a value: 34
Enter b value: 67
34 67

In [7]:
a,g = input("Enter a value: "),input("Enter b value: ")
print(a,g)

Enter a value: 45
Enter b value: 67
45 67

## type():
    - To known the data type of a varaible
    Syntax:
        type(variable_name)

In [8]:
y = 45
type(y)

int

In [9]:
print(type(y))

<class 'int'>

In [10]:
e,u = input("Enter a name: "),input("Enter age: ")
print(e,type(e))
print(u,type(u))

Enter a name: raju
Enter age: 45
raju <class 'str'>
45 <class 'str'>

In [14]:
m = 2
n = 3
m & n

2

In [12]:
m | n

30

In [ ]:
30\2=
15\2=0
7\2=1
3\2=1
1=1
11110

In [ ]:
40=110000
2^3+2^2+2^1+2^0
0+0+0+0+32+64
96

64 32 16 8 4 2 1

In [15]:
a = 20
print(a>>2)
print(a<<2)

5
80

In [18]:
t,m = input("enter first value: "),input("enter second value: ")
print(t+m)
print(int(t)+int(m))
print(type(t),type(m))

enter first value: 3
enter second value: 5
35
8
<class 'str'> <class 'str'>

# Operators:
    - Arithmetic => +,-,*,/,%,(floor //),power(**)
    - Logical => AND,NOT,OR,XOR
    - Bitwise => &,|,!,^,>>,<<
    - Relational => !=,==,>=,<=,
    - Assignment => +=,-=,/=,//=,%=
    - Identity => is,is not
    - Membership => in, not in

## Ouput formatting:
    - ,
    - .format
    - %
    - f

In [25]:
a = int(input("enter a number: "))
b = int(input("enter b number: "))
print("Addition of",a,"and",b,"is: ",a+b)
print("Substraction of %d and %d is: %d"%(a,b,a-b))
print("Division of {1} and {0} is: {2}".format(a,b,a/b))
print(f"Modulus of {a} and {b} is: {a%b}")

enter a number: 4
enter b number: 9
Addition of 4 and 9 is:  13
Substraction of 4 and 9 is: -5
Division of 9 and 4 is: 0.4444444444444444
Modulus of 4 and 9 is: 4

```
Input:
    4
    5
Output:
    Addition of 4 and 5 is: ?
    Substraction of '4' and '5' is: '?'
    Division of 4.0 and 5.00 is: '?'
    Modulus of '4.0' and 5.0 is: '?.00'
```